
.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 3fr;
    background-color: lightgray;
}

.sidebar {
    background-color: deepskyblue;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
}

